models/nocall.pt filter=lfs diff=lfs merge=lfs -text
train/data/*-custom/train/images/*.jpg filter=lfs diff=lfs merge=lfs -text
train/data/*-custom/train/images/*.png filter=lfs diff=lfs merge=lfs -text
train/data/*-custom/valid/images/*.jpg filter=lfs diff=lfs merge=lfs -text
train/data/*-custom/valid/images/*.png filter=lfs diff=lfs merge=lfs -text
